
ServerExerciseOnPython/templates/home.html
ServerExerciseOnPython/templates/about.html
ServerExerciseOnPython/templates/.DS_Store
ServerExerciseOnPython/static/css/main.css
ServerExerciseOnPython/static/.DS_Store
ServerExerciseOnPython/script1.py
ServerExerciseOnPython/.DS_Store
.DS_Store
source_finder.py
spider.py
templates/mysite.html
